footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px;
    background-color: #28292d;
    color: white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin-top: 5px;
    border-radius: 5px;
  }
  
  footer h2 {
    font-size: 2.5rem;
    margin-bottom: 20px;
  }
  
  form {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 600px;
    margin-bottom: 30px;
  }
  
  form input, form textarea {
    padding: 10px;
    margin-bottom: 15px;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
  }
  
  form button {
    background-color: #007bff;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  form button:hover {
    background-color: #0056b3;
  }
  
  #social-media {
    display: flex;
    justify-content: center;
    gap: 20px;
  }
  
  #social-media a {
    color: white;
    font-size: 2rem;
  }
  
  #social-media a:hover {
    color: #007bff;
  }

  .contact {
    text-align: center;
    margin: 20px;
  }
  
  .social-media {
    display: flex;
    justify-content: center;
    gap: 20px;
  }
  
  .social-icon {
    font-size: 24px;
    color: #ffffff;
    transition: color 0.3s ease;
  }
  
  .social-icon:hover {
    color: #f0f0f0;
  }
  
  .social-icon i {
    font-size: 2rem;
  }
  