<footer id="contact">
    <h2>Contact Me</h2>
    <form>
      <input type="email" placeholder="Your Email">
      <textarea placeholder="Your Message"></textarea>
      <button type="submit">Send</button>
    </form>
    <div class="social-media">
      <a href="https://github.com/AmeerHeiba/" target="_blank" class="social-icon">
        <i class="fab fa-github"></i>
      </a>
      <a href="https://www.linkedin.com/in/ameer-heiba/" target="_blank" class="social-icon">
        <i class="fab fa-linkedin-in"></i>
      </a>
    </div>
</footer>
  